<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Dropbox Deeplink</string>
	<key>CFBundleDisplayName</key>
	<string>Dropbox Deeplink</string>
	<key>CFBundleIdentifier</key>
	<string>com.quoxient.dropbox-open</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>DropboxOpen</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.quoxient.dropbox-open.scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dbxopen</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
